@page "/calculator"

<h1>Calculator</h1>

<input @bind="value1" />
<input @bind="value2" />

<button @onclick="Add">+</button>
<button @onclick="Subtract">-</button>
<button @onclick="Divide">/</button>
<button @onclick="Multiply">x</button>

<div>@result</div>

@code {
    int value1, value2;
    string result = string.Empty;

    void Add()
    {
        result = $"{value1} + {value2} = {value1 + value2}";
    }

    void Subtract()
    {
        result = $"{value1} - {value2} = {value1 - value2}";
    }

    void Divide()
    {
        result = $"{value1} / {value2} = {value1 / value2}";
    }

    void Multiply()
    {
        result = $"{value1} x {value2} = {value1 * value2}";
    }

}
